{% extends 'base.html.twig' %}

{% use 'components/forms/forms.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="d-flex justify-content-center">
        <img class="align-self-center todo-logo" src="{{ asset('img/todoco.png') }}" alt="todo list">
    </div>

    {% block login_form %}{{ parent() }}{% endblock %}
{% endblock %}
