{% extends 'base.html.twig' %}

{% block cssLink %}
    <link href="{{ asset('css/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section class="dashboard-metrics-section">
        {% include 'home/partials/dashboard_metrics_table.html.twig' with metrics %}
    </section>

    <hr>

    <section>
        <h1>Vos tâches prioritaires</h1>
        <div class="row">
            {% for task in starredTasks | slice(0, 3) %}
                {% include('task/partials/task_card.html.twig') %}
            {% else %}
                {% include('task/partials/no_task_message.html.twig') %}
            {% endfor %}
        </div>
    </section>

    <section>
        <h1>Vos tâches récentes</h1>
        <div class="row">
            {% for task in tasksInProgress | slice(0, 3) %}
                {% include('task/partials/task_card.html.twig') %}
            {% else %}
                {% include('task/partials/no_task_message.html.twig') %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
