@media (max-width: 570px) {
    .task-list-header {
        flex-direction: column;
    }
}

.filter-button-icon {
    margin-right: 0px;
}

.navbar-light .navbar-nav .nav-link, .dropdown-item {
    color: white;
}
