{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-title">Modifier une tâche</h1>
    <div class="mt-md-5">
        {{ form_start(form, {'action' : path('edit_task', { 'taskId' : task.id }), 'attr': {'class': 'd-flex flex-column custom-form'}}) }}

        {% include 'task/partials/task_form.html.twig' with {'action' : 'Modifier'} %}

        {{ form_end(form) }}
    </div>

    <a href="{{ path('list_tasks') }}" class="btn btn-primary-open mt-4">Retour à la liste des tâches</a>
{% endblock %}
