{% extends 'base.html.twig' %}

{% block header_img %}
    <img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        {% for task in tasks %}
            {% include('task/partials/task_card.html.twig') %}
        {% else %}
            {% include('task/partials/no_task_message.html.twig') %}
        {% endfor %}
    </div>
{% endblock %}
