.btn-primary {
    background-color: #45b0d5;
    border-color: #45b0d5;
}

.btn-primary:hover {
    background-color: white;
    border-color: #45b0d5;
    color: #45b0d5;
}

.btn-primary-open {
    background-color: white;
    border-color: #45b0d5;
    color: #45b0d5;
}

.btn-primary-open:hover {
    background-color: #45b0d5;
    color: white;
}

.filter-tag {
    padding: 8px 10px;
    background-color: #e5e5e5;
    border-radius: 15px;
    margin-left: 15px;
    font-size: 12px;
}

.filter-btn {
    box-shadow: 1px 2px 4px grey;
}

.filter-btn:active {
    border: none;
}

.filter-dropdown-menu {
    background-color: white;
}

.filter-dropdown-menu .dropdown-item {
    color: #45b0d5!important;
}
