.card-action {
    text-transform: uppercase;
    color: #45b0d5;
    font-weight: bold;
    margin-right: 15px;
    font-size: 14px;
    align-self: center;
}

.card-action:hover {
    color: #23527c;
}

.card_controls {
    padding: 3px;
}

@media (min-width: 945px) {
    .card-action {
        padding: 0 8px;
    }
}

.fa-star::before, .notStarred::before, .starred:hover:before {
    color: white;
    -webkit-text-stroke: 1px #5a6269;
    align-self: center;
}

.notStarred:hover:before, .starred::before {
    color: yellow;
    -webkit-text-stroke: 1px yellow;
}

.fa-trash:hover:before {
    color: red;
}

.glyphicon {
    border-radius: 100%;
    padding: 9px 8px 7px 8px;
}

.glyphicon-ok {
    border: 1px solid #5cb85c;
    background-color: #5cb85c;
    color: white;
}

.glyphicon-remove {
    border: 1px solid #5a6269;
    background-color: #5a6269;
    color: white;
}

.thumbnail .caption {
    padding: 10px 15px;
    height: 170px;
    overflow: scroll;
}

.caption h4 {
    overflow-wrap: break-word;
    margin-bottom: 0;
}

.thumbnail {
    padding: 0;
    height: 255px;
    min-width: 225px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333333;
}

.card-author {
    font-size: 12px;
}
