.custom-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    min-width: 125px;
}

form {
    min-height: 250px;
    margin: auto;
}

.form-group {
    min-width: 250px;
    max-width: 470px;
    width: 100%;
}

.login-form {
    min-height: 200px;
}

@media (min-width: 700px) {
    form {
        width: 75%;
    }
}

@media (min-width: 900px) {
    form {
        width: 50%;
    }
}

.todo-logo {
    width: 15em;
    margin-bottom: 25px;
}

@media (min-width: 500px) {
    .todo-logo {
        width: 15em;
    }
}
