.nav {
    padding: 20px;
    display: flex;
    background-color: #45b0d5;
    height: 100px;
}

.nav-logo {
    flex: 1;
    margin-bottom: 5px;
}

.nav-menu, .nav-list, .nav-item {
    align-self: center;
}

.nav-menu {
    font-weight: bold;
    font-size: 14px;
}

/**/

.nav-list {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: white
}


.nav-log-action {
    font-weight: bold;
    background-color: white;
    color: #45b0d5;;
    border-color: #45b0d5;
    margin-left: 15px;
}

.nav-log-action:hover {
    font-weight: bold;
    background-color: #45b0d5;
    color: white;
    border-color: white;
}

.nav-log-action:focus {
    font-weight: bold;
    background-color: #45b0d5;
    color: white;
    border-color: #45b0d5;
}

.nav-register-action {
    font-weight: bold;
    border-color: white;
    margin-left: 15px;
}

.nav-register-action:hover {
    font-weight: bold;
    background-color: white;
    color: #45b0d5;
    border-color: white;
}

.nav-register-action:focus {
    font-weight: bold;
    background-color: white;
    color: #45b0d5;
    border-color: white;
}

.nav-bars {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    display: none;
}

.fa-bars {
    font-size: 30px;
    color: white;
}

@media (max-width: 767px) {
    .nav-bars {
        display: flex;
    }
    .nav-list-container {
        display: none;
    }

    .nav-menu .show .nav-list {
        flex-direction: column;
        position: absolute;
        right: 25px;
        top: 95px;
        background-color: #45b0d5;
        z-index: 100;
        padding: 10px 15px;
        box-shadow: 1px 3px 2px;
    }
}
