<div class="alert alert-warning action-alert d-flex justify-content-between" role="alert">
    <span class="align-self-center">Il n'y a pas encore de tâche enregistrée.</span>
    <a href="{{ path('create_task') }}" class="btn btn-warning pull-right"><i class="fa fa-plus button-icon"></i>Ajouter une tâche</a>
</div>

