{{ form_row(form.title) }}
{{ form_row(form.content) }}

<div class="form-actions">
    <button type="submit" class="btn btn-primary">
        {% if action == 'Modifier' %}
            <i class="fa fa-pencil button-icon"></i>
        {% elseif action == 'Ajouter' %}
            <i class="fa fa-plus button-icon"></i>
        {% endif %}

        {{ action }}
    </button>
</div>
