{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-title">Créer un utilisateur</h1>
    <div class="mt-md-4">
        {{ form_start(form, {'action' : path('create_user'), 'attr': {'class': 'd-flex flex-column custom-form'}}) }}
        {% include 'user/partials/user_form.html.twig' with {'action' : 'Ajouter', 'buttonIcon' : 'fa-plus'} %}
        {{ form_end(form) }}
    </div>

    <a href="{{ path('list_users') }}" class="btn btn-primary-open mt-4">Retour à la liste</a>
{% endblock %}
