{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block body %}
    <h1>Modifier <strong>{{ user.username }}</strong></h1>
    <div class="mt-md-4">
        {{ form_start(form, {'action' : path('edit_user', {'userId' : user.id}) , 'attr': {'class': 'd-flex flex-column custom-form'}}) }}
        {% include 'user/partials/user_form.html.twig' with {'action' : 'Modifier', 'buttonIcon' : 'fa-pencil'} %}
        {{ form_end(form) }}
    </div>

    <a href="{{ path('list_users') }}" class="btn btn-primary-open mt-4">Retour à la liste</a>
{% endblock %}
